@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Indigo / Violet / Purple */
  --color-app-indigo-1: #F8F9FF;
  --color-app-indigo-2: #EEF2FF;
  --color-app-indigo-3: #E0E7FF;
  --color-app-indigo-4: #C6D2FF;
  --color-app-indigo-5: #A5B4FC;
  --color-app-indigo-6: #818CF8;
  --color-app-indigo-7: #7C86FF;
  --color-app-indigo-8: #6366F1;
  --color-app-indigo-9: #615FFF;
  --color-app-indigo-10: #4F46E5;
  --color-app-indigo-11: #4F39F6;
  --color-app-indigo-12: #4338CA;
  --color-app-indigo-13: #432DD7;
  --color-app-indigo-14: #C7D2FE;
  /* Purple */
  --color-app-purple-1: #8E51FF;
  /* Violet */
  --color-app-violet-1: #F5F3FF;
  --color-app-violet-2: #7C3AED;
  --color-app-violet-3: #7F22FE;
  --color-app-violet-4: #8B5CF6;
  --color-app-violet-5: #DDD6FE;
  /* Fuchsia */
  --color-app-fuchsia-1: #AD46FF;
  /* Gray */
  --color-app-gray-1: #F7F7F8;
  --color-app-gray-2: #F3F4F6;
  --color-app-gray-3: #F9FAFB;
  --color-app-gray-4: #D1D5DC;
  --color-app-gray-5: #99A1AF;
  --color-app-gray-6: #6A7282;
  --color-app-gray-7: #4A5565;
  --color-app-gray-8: #364153;
  --color-app-gray-9: #374151;
  --color-app-gray-10: #1A1A26;
  --color-app-gray-11: #0C0C0F;
  /* Green */
  --color-app-green-1: #ECFDF5;
  --color-app-green-2: #00D492;
  --color-app-green-3: #00BC7D;
  --color-app-green-4: #009966;
  --color-app-green-5: #10B981;
  --color-app-green-6: #34D399;
  --color-app-green-7: #D1FAE5;
  --color-app-green-8: #A7F3D0;
  --color-app-green-9: #F0FDF9;

  /* Box shadows */
  --shadow-app-green: 0 2px 10px rgba(16, 185, 129, 0.1);
  --shadow-app-green-sm: 0px 2px 8px rgba(16, 185, 129, 0.25);
  --shadow-app-glow-indigo: 0 0 80px rgba(99, 102, 241, 0.15), 0 0 40px rgba(99, 102, 241, 0.4);
  --shadow-app-glow-indigo-sm: 0 0 16px 0 rgba(99, 102, 241, 0.5);
  --shadow-app-card-light: 0 4px 6px -4px rgba(243, 244, 246, 0.6), 10px 15px -3px rgba(243, 244, 246, 0.6);
  --shadow-app-btn-light: 0 1px 2px -1px var(--color-app-indigo-4), 0 1px 3px 0 var(--color-app-indigo-4);
  --shadow-app-btn-dark: 0 4px 6px -4px rgba(49, 44, 133, 0.4), 0 10px 15px -3px rgba(49, 44, 133, 0.4);
}

@keyframes wave {
  0% {
    height: 3px;
  }

  100% {
    height: 32px;
  }
}

@keyframes mic-ring-dash {

  0%,
  100% {
    stroke-dasharray: 0 98.175;
    stroke-dashoffset: 0.5;
    stroke: var(--color-app-indigo-10);
  }

  50% {
    stroke-dasharray: 98.175 0;
    stroke-dashoffset: 49.0875;
    stroke: var(--color-app-violet-2);
  }
}